.caseStudy {
    grid-column-start: 2;
    grid-column-end: span 10;
}
.caseStudy__title {
    line-height: 1.5;
    margin: 0;
}
.caseStudy__link {
    display: block;
    color: inherit;
    box-shadow: none;
}
.caseStudy__media {
    position: relative;
}
.caseStudy__tag {
    margin-left: .5em;
    margin-bottom: .5em;
}

@media (min-width: 1024px) {
    .caseStudy {
        grid-column-end: span 5;
    }
    .caseStudy:nth-of-type(even) {
        grid-column-start: 7;
    }
}