.content {
    grid-column: 2 / 12;
}
.media {
    position: relative;
    grid-column: 1/13;
}

@media (min-width: 768px) {
    .content {
        grid-column: 7 / 11;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .media {
        grid-column: 1 / 6;
    }
}

@media (min-width: 1024px) {
    .centered {
        position: absolute;
        top: 50vh;
        transform: translate3d(0, -50%, 0);
    }
}