.content {
    grid-column: 2/13;
}
.media {
    position: relative;
    grid-column: 2 / 12;
}
.arc {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: grab;
    user-select: none;
}
.arc:active {
    cursor: grabbing;
}

@media (min-width: 768px) {
    .content {
        grid-column: 2/6;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .media {
        grid-column: 7 / 12;
    }
}

@media (min-width: 1024px) {
    .centered {
        position: absolute;
        top: 50vh;
        transform: translate3d(0, -50%, 0);
    }
}