.content {
    grid-column: 2/12;
}
.item {
    grid-column-start: 2;
    grid-column-end: span 10;
}

@media (min-width: 1024px) {
    .item {
        grid-column-end: span 5;
    }
    .item:nth-of-type(even) {
        grid-column-start: 7;
    }
}